body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: auto;
  background: #f0f2f5;
  min-height: 100vh;
}


.content {
  flex: auto;
  min-height: 0;
  padding: 50px 50px 0px 50px;
}

.footer {
  text-align: center;
  background: #f0f2f5;
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  flex: 0 0 auto;
}

.quick-search{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  display: table;
  margin: 0px auto;
  padding-bottom: 1rem;
}

.quick-search input#search{
  width: 300px;
  height: 30px;
  background: #e7e7e7;
  border: none;
  font-size: 10pt;
  float: left;
  color: #070707;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.quick-search input#search::-webkit-input-placeholder {
  color: #858585;
}

.quick-search button.icon{
  width: 50%;
  margin: 0 auto;
  border: none;
  background: rgb(12, 157, 206);
  height: 30px;
  width: 30px;
  outline: none;
  margin-left: -30px;
  color: #c2c2c2;
  font-size: 10pt;
}

.quick-search:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  margin-left: -30px;
  cursor:pointer;
}

.quick-search:hover button.icon:hover{
  background: rgb(7, 83, 109);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20rem;
  border-radius: 5px;
  cursor:pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}

.title-card {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-left: 7px;
}

ul.list-card {
    list-style-type: circle;
}

.container-list-card {
  padding-top: 5px;
}

.section-container {
  min-height: inherit;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination .btn{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
  background-color: rgb(210, 234, 241);
  border: none;
  cursor:pointer;
}

.pagination .btn:first-of-type, .pagination .btn:last-of-type, .pagination .is-active{
  background-color: rgb(12, 157, 206);
  color: #fff;
  font-weight: bold;
}

hr.style-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container-pagination {
  text-align: right;
  padding-right: 5rem;
}

.pagination .btn:disabled {
  background-color: #e6e6e6;
  color: #ffffff;
  cursor: no-drop;
}


.checkout input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkout input[type=submit] {
  width: 100%;
  background-color:rgb(12, 157, 206);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout input[type=submit]:hover {
  background-color: rgb(7, 83, 109);
}

.checkout {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width: 50%;
  margin-top: 10rem;
}